*{
	padding: 0px;
	margin: 0 auto;
}
.top{
	width: 1200px;
}
.top img{
	padding-left: 100px;
}
.top h2{
	height: 106px;
    font-size: 26px;
    line-height: 106px;
    color: #4E5153;
    padding-left: 500px;
}
.top p{
	line-height: 28px;
    font-size: 16px;
    color: #85888B;
    margin: 0 0 15px;
    padding-left: 100px;
}